
<div>
    Survey for
    <span class="bold" data-bind="text: currentSurvey.product"></span>
    at
    <span class="bold" data-bind="text: currentSurvey.location"></span>
</div><br />
<div>
    THIS IS THE NEW FORM..THIS IS THE NEW FORM..THIS IS THE NEW FORM..THIS IS THE NEW FORM..THIS IS THE NEW FORM..THIS IS THE NEW FORM..THIS IS THE NEW FORM..THIS IS THE NEW FORM..THIS IS THE NEW FORM..
</div>
<br />
<ol>
    <li>
        What is your middle name?<br />
        <input type="text" class="m-wrap" name="middlename" />
    </li>
    <li>
        What is your favorite music?<br />
        <label class="m-radio m-wrap">
            <input type="radio" name="favoritemusic" class="m-wrap" value="Jazz" />
            Jazz
        </label>
        <label class="m-radio m-wrap">
            <input type="radio" name="favoritemusic" class="m-wrap" value="Country" />
            Country
        </label>
        <label class="m-radio m-wrap">
            <input type="radio" name="favoritemusic" class="m-wrap" value="Indian Classical" />
            Indian Classical
        </label>
    </li>
    <li>
        What is your favorite super hero?<br />
        <select name="favoritesuperhero" class="m-wrap">
            <option></option>
            <option value="Captain America">Captain America</option>
            <option value="Iron Man">Iron Man</option>
            <option value="Hulk">Hulk</option>
            <option value="Thor">Thor</option>
            <option value="Spider Man">Spider Man</option>
            <option value="Superman">Superman</option>
        </select>
    </li>
</ol>

